<div ng-class="isAuthenticated() ? 'col-lg-9' : 'col-lg-12'" class="panel panel-default" style="padding: 0 !important;">
    <ui-gmap-google-map events="map.events" control="map.control" center='map.center' zoom='map.zoom'>
        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a Location">
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" click="onMarkerClicked(m)"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class="col-sm-3" ng-if="isAuthenticated()">
    <div class="panel panel-default" style="height: 90vh;">
        <div class="panel-heading">Home Page</div>
        <div class="panel-body">
            <ul class="comment-list" style="height: 100%;">
                <li ng-repeat="checkIn in checkInList">
                    <div class="commenter-image">
                        <img ng-src="{{checkIn.userPhoto}}"/>
                    </div>
                    <div class="comment-text">
                        <p class="" style="font-weight: bolder;">{{checkIn.userName}}</p>

                        <p class="">{{checkIn.comment}}</p> <span
                            class="date sub-text icon ion-heart" ng-click="like(checkIn._id)" style="cursor: pointer;"
                            ng-class="{'approved' : checkIn.liked}"> Like   </span><span
                            class="sub-text icon ion-ribbon-b" ng-click="save(checkIn._id)" style="cursor: pointer;"
                            ng-class="{'approved' : checkIn.saved}"> Save</span>

                        <p><span class="sub-text"> on {{checkIn.date | date :'medium'}}</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
